@font-face {
  font-family: "Neuton";
  src: url("../Neuton/Neuton-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neuton";
  src: url("../Neuton/Neuton-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neuton";
  src: url("Neuton/Neuton-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Neuton";
  src: url("../Neuton/Neuton-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neuton";
  src: url("../Neuton/Extralight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Fonts and global styles */
body {
  margin: 0;
  font-family: "Neuton", sans-serif;
}

.container {
  height: 100vh;
}

.slide {
  display: flex;
}

/* Left image panel */
.left-panel {
  flex: 1;
  background-image: url("pickle_repeat.jpg");
  background-size: auto;
  background-repeat: repeat;
  background-color: #c7ef4e; /* Light green background */
}

.grid-img {
  position: relative;
  width: 100%;
  max-height: 100vh;
  object-fit: cover; /* Ensures image fills without stretching */
  display: block;
}

/* Right form panel */
.right-panel {
  flex: 1;
  background-color: #ffffff; /* White background */
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Neuton", serif;
  color: #085420;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 60px */
  letter-spacing: -1.32px;
  margin-bottom: 48px;
  margin-top: 42px;
}

form {
  display: flex;
  flex-direction: column;
  width: 592px;
}

label {
  color: #085420;
  font-family: Neuton;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 40px */
  letter-spacing: -0.88px;
  opacity: 0.7;
  margin-bottom: 16px;
}

input.last-input {
  margin-bottom: 20px;
}

input {
  margin-bottom: 42px;
  padding: 15px;
  font-size: 1em;
  border: 2px solid #ede8d8; /* Beige border */
  border-radius: 10px;
  background-color: #ffffff;
  color: #333;
  padding: 16px 287px 16px 26px;
  align-items: center;
  flex-shrink: 0;
}

input::placeholder {
  color: #085420;
  font-family: Neuton;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 25px */
  letter-spacing: -0.55px;
}

button {
  padding: 15px;
  background-color: #c7ef4e; /* Light green */
  color: #085420; /* Dark green */
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.3s;
  color: var(--Pickle-2, #085420);
  font-family: Neuton;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

button:hover {
  background-color: #b9e537;
}

.login-link {
  margin-top: 10px;
  color: #085420;
  font-family: Neuton;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 20px */
  letter-spacing: -0.44px;
  margin-left: auto;
  margin-right: auto;
}

.login-link a {
  color: #085420;
  font-family: Neuton;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.44px;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

/********************/
/* Ready */
/********************/
.ready-container {
  max-width: 802px;
  max-height: 732px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 74px;
}

.ready-img {
  display: block;
  margin: 42px auto auto auto;
}

.ready-card {
  width: 802px;
  height: 352px;
  border-radius: 8px;
  background-color: #085420;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.light-h1 {
  color: #c7ef4e;
  margin: 38px auto 38px auto;
}

.ready-p {
  margin-top: 0px;
  margin-bottom: 18px;
  width: 561px;
  height: 73px;
  color: var(--Pickle2, #c7ef4e);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 30px */
  letter-spacing: -0.55px;
  opacity: 0.7;
}

/* 308-85- */

.ready-btn {
  border-radius: 100px;
  background: var(--Pickle2, #c7ef4e);
  width: 215px;
  height: 100px;
  flex-shrink: 0;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 0px;
}

/********************/
/* Game */
/********************/
.game-screen {
  background-color: #085420; /* Dark green */
  color: #c7ef4e;
  font-family: Neuton;
  margin: 0;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.game-score {
  position: absolute;
  top: 44px;
  right: 77px;
}

.score {
  color: var(--Pickle2, #c7ef4e);
  font-family: Neuton;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -0.88px;
}

.game-answer {
  position: absolute;
  bottom: 44px;
  left: 77px;
  width: 260px;
  height: 81px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Pickle6, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.game-next-slide {
  position: absolute;
  bottom: 44px;
  right: 77px;
  cursor: pointer;
}

.game-next-slide:hover {
  position: absolute;
  bottom: 44px;
  right: 77px;
  cursor: pointer;
  text-decoration: underline;
}

.answer {
  color: var(--Pickle3, #003310);
  text-align: right;
  font-family: Neuton;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 30px */
  letter-spacing: -0.66px;
  margin-bottom: 0px;
  margin-top: 14px;
}

.answer-comment {
  color: var(--Pickle3, #003310);
  text-align: right;
  font-family: Neuton;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 10px */
  letter-spacing: -0.22px;
  margin-top: 5px;
}

.answer-pickle {
  width: 32px;
  height: 45px;
  flex-shrink: 0;
  aspect-ratio: 32/45;
}

.game-h1 {
  color: var(--Pickle2, #c7ef4e);
  margin-top: 140px;
}

.tweet-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 20px 30px;
  margin-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.tweet-user {
  font-size: 1em;
}

.handle {
  color: gray;
  font-size: 14px;
}

.tweet-content {
  font-size: 1.3em;
  line-height: 1.4;
}

/* Buttons */
.choice-buttons {
  display: flex;
  gap: 20px;
}

.choice-button {
  width: 250px;
  height: 96px;
  border-radius: 8px;
  background: #c7ef4e;
  color: var(--Pickle3, #003310);
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 40px */
  letter-spacing: -0.88px;
}

.choice-button:hover {
  background-color: #b9e537;
}
:root {
  --Pickle-1: #c7ef4e;
  --Pickle-2: #085420;
  --Beige: #ede8d8;
  --White: #ffffff;
}

.tweet-name {
  font-family: "Neuton", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

/********************/
/* End screen */
/********************/
.overlay {
  position: absolute;
  height: 101vh;
  width: 100vw;
  z-index: 999;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8); /* soft greyish background */
  font-family: Neuton;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-card {
  background-color: var(--White);
  border-radius: 20px;
  text-align: center;
  padding: 50px 80px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.end-card h2 {
  font-family: "Neuton", serif;
  font-size: 3em;
  color: var(--Pickle-2);
  margin-bottom: 20px;
}

.stroke-heading {
  color: var(--Pickle-2);
  font-family: "Neuton", serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1.76px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--Pickle-1);
  margin: 0 0 20px 0;
}

.small-text {
  font-size: 1em;
  color: #333;
  margin-bottom: 30px;
}

.final-score {
  font-size: 1.4em;
  font-family: "Neuton", serif;
  color: var(--Pickle-2);
  margin-bottom: 30px;
}

.restart-button,
.check-leaderboard {
  background-color: var(--Pickle-1);
  color: var(--Pickle-2);
  font-family: "Neuton", serif;
  font-size: 1.2em;
  font-weight: bold;
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-button:hover {
  background-color: #b9e537;
}

.flex-restart-leaderboard {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/********************/
/* For JS */
/********************/
.hidden {
  display: none;
}

/********************/
/* Password show */
/********************/

.password-wrapper {
  position: relative;
  width: 100%; /* or a specific width like 300px */
  display: flex;
  align-items: center;
}

.toggle-eye {
  position: absolute;
  right: 22px;
  top: 39%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}

.last-input {
  box-sizing: border-box;
  width: 100%;
}

.password-info-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: default;
  padding-top: 2px;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: #111;
  color: #fff;
  text-align: left;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}

.label-password {
  display: flex;
  gap: 8px;
  z-index: 1;
}

.questionmark {
  height: 25px;
}

.margin-bottom-14 {
  margin-bottom: 14px;
}

/********************/
/* Leaderboard */
/********************/

.leaderboard,
.leaderboard-h {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  overflow-y: auto;
  max-height: 250px;
}

.grey-line {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}

h3 {
  font-family: "Neuton", serif;
  color: #085420;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  margin: 16px 0;
}

.white-background {
  background-color: #fff;
}

.grey-background {
  background-color: #d9d9d9;
}

.padding-left {
  padding-left: 20px;
}

.leaderboard-column {
  width: 100%;
}

.play-again-btn {
  right: 77px;
  position: absolute;
  bottom: 44px;
  cursor: pointer;
}

.play-again:hover {
  text-decoration: underline;
}

.leaderboard-card {
  background-color: white;
  color: black;
  border-radius: 10px;
  max-width: 660px;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.margin-bottom-8 {
  margin-bottom: 8px;
}
